.lesson {
  .card-content {
    &__collapse {
      > div {
        > div {
          position: relative;
        }
      }
    }
  }
  .draggable-dialog{
    width: 100%;
    border: 1px solid red;
  }
}
