* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  > main {
    flex: 1;
  }
}

.color-white {
  color: var(--white) !important;
}

.bg-grey-29 {
  background-color: var(--grey-29);
}

.divider-common {
  border-bottom :1px solid var(--grey);
}

.container {
  background-color: var(--black);
  color: var(--white)
}

.cursor-pointer{
  cursor: pointer;
}