* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  > main {
    flex: 1;
  }
}

.color-white {
  color: var(--white) !important;
}

.color-green {
  color: var(--green) !important;
}

.bg-grey-29 {
  background-color: var(--grey-29) !important;
}

.divider-common {
  border-bottom: 1px solid var(--grey) !important;
}

.container {
  background-color: var(--black) !important;
  color: var(--white) !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.m-16 {
  margin: 16px;
}

.my-16 {
  margin: 0 16px;
}

.mx-16 {
  margin: 16px 0;
}

.p-16 {
  padding: 16px;
}

.btn-outlined{
  color: var(--blue);
  border-color: var(--blue);
}
.btn-containted{
  background: var(--blue);
  color: var(--bg-color);
}