:root {
  font-size: 16px;
  --color-main: #1d1d1f;
  --black: #111;
  --black-20: #222222;
  --grey: rgb(52, 52, 52);
  --grey-29: #292929;
  --green: #7ed07e;
  --blue: #70b0e0;
  --blue-typescript: #1c74d4;
  --yellow-javascript: #ffd600;
  --white: #f5f5f7;
  --bg-color: #fff;
  --color-progress: red;
}
